In [2]:
def pos_arg(a, b) :
    print(a, "is the first arg")
    print(b, "is the second arg")
pos_arg(3, 4)
pos_arg(4, 3)

3 is the first arg
4 is the second arg
4 is the first arg
3 is the second arg

In [3]:
pos_arg("second", "first")

second is the first arg
first is the second arg

In [4]:
pos_arg([1,2, "1"], {2,44})

[1, 2, '1'] is the first arg
{2, 44} is the second arg

In [8]:
def concat(a, b) :
    print(a + b)
concat(a = "istanbul ", b = "erzurum ")
concat(b = "erzurum ", a = "istanbul ")

istanbul erzurum
istanbul erzurum

In [10]:
concat(a = "london ", b = "seoul ")
concat("london ", "seoul")

london seoul
london seoul

In [13]:
def default(a = "ali", b = 33) :
    print(a, "is", b, "years old.")
default()
default("mehmet", 44)

ali is 33 years old.
mehmet is 44 years old.

In [17]:
default("selvi")
default(b = 55)
default(a = "songül", b = 22)

selvi is 33 years old.
ali is 55 years old.
songül is 22 years old.

In [19]:
def default(x, a = "ali", b = 33) :
    print(a, "and", x, "is", b, "years old.")
default("gonca")

ali and gonca is 33 years old.

In [20]:
def parrot(voltage, state="a stiff", action="voom", typed="Norwegian Blue"):
    print("-- This parrot wouldn't", action, end=" ")
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", typed)
    print("-- It's", state, "!")

In [21]:
parrot()

TypeError: parrot() missing 1 required positional argument: 'voltage'

In [22]:
parrot(1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [23]:
parrot(voltage = 10000000, action = "VOOOOOOM")

-- This parrot wouldn't VOOOOOOM if you put 10000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [24]:
parrot(action = "VOOOOOOM", voltage = 10000000)

-- This parrot wouldn't VOOOOOOM if you put 10000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [25]:
def parrot(state="a stiff", voltage, action="voom", typed="Norwegian Blue"):
    print("-- This parrot wouldn't", action, end=" ")
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", typed)
    print("-- It's", state, "!")

SyntaxError: non-default argument follows default argument (<ipython-input-25-3db317de1ad6>, line 1)

In [26]:
def argu(a, b = "dünya", c, d = "satürn") :
    print(a, b, c, d, sep = "\n")

SyntaxError: non-default argument follows default argument (<ipython-input-26-a16aa314c4e9>, line 1)

In [29]:
def argu(a, c, b = "dünya", d = "satürn") :
    print(a, b, c, d, sep = "\n")
argu()

TypeError: argu() missing 2 required positional arguments: 'a' and 'c'

In [30]:
argu("uranüs", "jüpiter")

uranüs
dünya
jüpiter
satürn

In [31]:
argu(d = "güneş", a = "dünya", c = "pluto", b = "mars")

dünya
mars
pluto
güneş

In [32]:
argu(a = "dünya", c = "merkür", "uranüs")

SyntaxError: positional argument follows keyword argument (<ipython-input-32-8b3e802bea27>, line 1)

In [33]:
argu("uranüs", a = "dünya", c = "merkür")

TypeError: argu() got multiple values for argument 'a'

In [34]:
pass

In [35]:
if 10 > 0 :
    pass
    print("ben ikinci satırım")

ben ikinci satırım

In [37]:
def slicer(*num) :
    print("evens :", [i for i in num if i%2 == 0])
    print("odd :", [i for i in num if not i%2 == 0])
slicer(0,1,2,3,4,5,6,7,8,9)

evens : [0, 2, 4, 6, 8]
odd : [1, 3, 5, 7, 9]

In [39]:
sözlük = dict(ahmet = "bacanak", mehmet = "ağabey", ceyda = "baldız", meryem = "anne")
sözlük

{'ahmet': 'bacanak', 'mehmet': 'ağabey', 'ceyda': 'baldız', 'meryem': 'anne'}

In [44]:
def sözlük(**a) :
    for key, value in a.items() :
        print(key, value)
sözlük(ahmet = "bacanak", mehmet = "ağabey", ceyda = "baldız")

ahmet bacanak
mehmet ağabey
ceyda baldız

In [45]:
sözlük(ahmet = "bacanak", mehmet = "ağabey", ceyda = "baldız", leyla = "komşu", zeyno = "bebek")

ahmet bacanak
mehmet ağabey
ceyda baldız
leyla komşu
zeyno bebek

In [47]:
def defa(**x) :
    for t, z in x.items():
        print(t, "is", z, "years old.")
defa(ali = 33, veli = 44, deli = 100, ayşe = 22, nazan = 77)

ali is 33 years old.
veli is 44 years old.
deli is 100 years old.
ayşe is 22 years old.
nazan is 77 years old.

In [48]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')
family = ['tom', 'sue', 'tim']
brothers(*family)

Here are the names of brothers :
tom
sue
tim

In [49]:
brothers(family, family, family)

Here are the names of brothers :
['tom', 'sue', 'tim']
['tom', 'sue', 'tim']
['tom', 'sue', 'tim']

In [51]:
genius = ("Bill", "Rossum", "Guido van", "Gates")
# For me, Bill Gates and Guido van Rossum are geniuses.

In [53]:
def merger(par1, par2, par3, par4) :
    print(f"For me, {par1} {par4} and {par3} {par2} are geniuses.")
merger(*genius)

For me, Bill Gates and Guido van Rossum are geniuses.

In [55]:
def önceki(**parametre) :
    for x, y in parametre.items() :
        print(x, y)
önceki(a = "ahmet", b = "mehmet", c = "selamet")

a ahmet
b mehmet
c selamet

In [57]:
def gene(x='Solomon', y='David'):  # defined by kwargs (default values assigned to x and y)
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
dict_gene = {"y" : "Marry", 'x' : "Fred"}
gene(**dict_gene)

Fred belongs to Generation X
Marry belongs to Generation Y

In [58]:
gene()

Solomon belongs to Generation X
David belongs to Generation Y

<img src="https://i.pinimg.com/originals/e6/87/61/e687614048a36165dd49b6fb18a12b5d.png" height = "100" width ="200" alt = "izdivac">

In [59]:
dict_couple = {"bride" : ["mary", "bella", "linda"],
               "groom" : ["rye", "fred", "roland"]}

In [64]:
def couples(bride, groom) :
    couple_list = []
    for x in zip(bride, groom) :
        couple_list.append(x)
    return couple_list
couples(**dict_couple)

[('mary', 'rye'), ('bella', 'fred'), ('linda', 'roland')]

In [63]:
def couples(bride, groom) :
    return [x for x in zip(bride, groom)]
couples(**dict_couple)

[('mary', 'rye'), ('bella', 'fred'), ('linda', 'roland')]

In [68]:
def meaner(ahmed, joseph, linda) :
    average = (ahmed + joseph + linda) / 3
    print("The average of their ages is :", average)

In [70]:
friends = {"ahmed" : 44, "joseph" : 39, "linda" : 55}
friends["ahmed"]

44

In [71]:
meaner(**friends)

The average of their ages is : 46.0

In [72]:
meaner(44, 39, 55)

The average of their ages is : 46.0

In [74]:
x = "([)]([)]"
def isValid(s):
    while "()" in s or "{}" in s or "[]" in s:
        s = s.replace("()", "").replace("[]", "").replace("{}", "")
    return s == ""
isValid(x)

False

In [76]:
x = "{()[{}]}"
isValid(x)

True

In [77]:
(lambda x : "odd" if x%2 else "even")(3)

'odd'

In [78]:
(lambda x : "odd" if x%2 else "even")(10)

'even'

In [79]:
print((lambda x : "odd" if x%2 else "even")(10))

even

In [81]:
average = (lambda a, b : a**2 + b**2)(3, 4)
average

25

In [184]:
iterable = "Haliterable"
rever = (lambda x : x[::-1])(iterable)
rever

'elbaretilaH'

In [89]:
"clarusway"[::-1]

'yawsuralc'

In [90]:
iterable[::-1]

'yawsuralc'

In [188]:
for i in [1,2,3,4] :
    print(i, ":", (lambda x : "odd" if x%2 != 0 else "even")(i))

1 : odd
2 : even
3 : odd
4 : even

In [189]:
iterable = [1,2,3,4,5]
result = map(lambda x : x **2, iterable)
result

In [95]:
print(*result)

1 4 9 16 25

In [97]:
def karesinial(x) :
    return x ** 2
result = map(karesinial, iterable)

In [98]:
print(*result)

1 4 9 16 25

In [192]:
kisiler = ["ali veli deli", "mehmet aganin kuzeni", "cemilin bacısı"]
result = map(len, iterable_2)

print(list(result))

[5, 16, 14]

In [113]:
letter1 = ["a", "b", "c"]
letter2 = ["x", "y", "z"]
yapistir = map(zip, letter1,letter2)

In [114]:
for i in yapistir:
    for j in i:
        print(j)

('a', 'x')
('b', 'y')
('c', 'z')

In [115]:
(lambda x, y : (x+y)/2)(5,3)

4.0

In [190]:
num1 = [9, 6, 7, 4]
num2 = [3, 6, 5, 8]
numbers = map(lambda x, y : (x+y)/2, num1, num2)
print(list(numbers))

[6.0, 6.0, 6.0, 6.0]

In [130]:
for i in numbers:
     print(i)

6.0
6.0
6.0
6.0

In [131]:
words1=["you", "much", "hard"]
words2=["i", "you", "he"]
words3=["love", "ate", "works"]
sentence = map(lambda x, y, z : x + " " + y + " " + z, words2, words3, words1)
for i in sentence :
    print(i)

i love you
you ate much
he works hard

In [132]:
words = ['apple', 'swim', "clock", "me", "kiwi", "banana"]
for i in filter(lambda x : len(x) < 5, words) :
    print(i)

swim
me
kiwi

In [134]:
üzeribeş = lambda x : x ** 5
üzeribeş(2)

32

In [137]:
def modular_function(n):
    return lambda x: x ** n
karesinial = modular_function(2)
karesinial(4)

16

In [139]:
küpünüal = modular_function(3)
küpünüal(2)

8

In [140]:
power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def
print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(2))  # 2 to the power of 4

4
8
16

In [141]:
"alex" * 3

'alexalexalex'

In [143]:
tekrarlayıcı4 = lambda x : x * 4
tekrarlayıcı4("gara ")

'gara gara gara gara '

In [11]:
def functioner(emoji = None) :
    return lambda message : print("Hello", emoji)

(lambda message : print("Hello", ":)"))(1)

Hello :)

In [12]:
print_smile = functioner(":)")(1)

Hello :)

In [13]:
print_smile = functioner(":(")(1)

Hello :(

In [14]:
print_smile = functioner(":|")(1)

Hello :|

In [152]:
print_üzgün = functioner(":(")
print_üzgün("bugünkü dersteki yüz ifadem -->")

bugünkü dersteki yüz ifadem --> :(

In [153]:
(lambda x : print(x))(33 + 22)

55

In [154]:
def func_generator(func_name) :
    return lambda x : func_name(x)
ali_max = func_generator(max)

In [155]:
(lambda x : max(x))((1,6,99))

99

In [157]:
ali_sorted = func_generator(sorted)
ali_sorted([1,6,8,3,1])

[1, 1, 3, 6, 8]

In [158]:
ali_bool = func_generator(bool)
ali_bool("")  # lambda x : bool(x)

False

In [164]:
import math
import math as matematik
matematik.e

2.718281828459045

In [160]:
matematik.factorial(5)

120

In [165]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [166]:
from math import pi, log10, factorial

In [167]:
print(pi)

3.141592653589793

In [168]:
print(log10(1000))

3.0

In [169]:
print(factorial(4))

24

In [170]:
matematik.pi

3.141592653589793

In [171]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [172]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '_TemplateMetaclass',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [173]:
string.digits

'0123456789'

In [32]:
import datetime
print(datetime.date.today())

2021-08-18

In [175]:
print(datetime.datetime.now())

2021-08-12 19:31:14.692537

In [36]:
from datetime import date
birth = date(571, 4, 22)
print(birth)

0571-04-22

In [37]:
death = date(632, 6, 8)
print(death)

0632-06-08

In [38]:
life_day = date.toordinal(death) - date.toordinal(birth)
life_day

22327

In [39]:
from datetime import date
birth = date(1983, 5, 7)
print(birth)

1983-05-07

In [40]:
life_day = today - birth
life_day

datetime.timedelta(days=13983)